<article class="recipe">
	<div class="title">
		<header>{{title}}</header>
		<span>({{recipe_text}})</span>
	</div>
	<div class="meta">
		{{vote_count}}
		point(s) by
		{{user.username}}
	</div>
</article>