
<section class="banjo">
	<div class="">
		<h2 class="fiddle">Create New recipe</h2>
		<div class="">
			<form class="new-recipe-form">
				<div class="">
					<label for="recipe-title">Title</label>
					<input type="text" id="recipe-title" name="recipe-title" />
				</div>
				<div class="">
					<label for="recipe-text">recipe </label>
					<input id="recipe-text" name="recipe-text" />
				</div>
				<div>
					<input type="BUTTON" name="Pick photo" value="Pick photo" id="photoPicker" onclick="openPhotoPicker()">
				</div>
				<div class="">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
				</div>
			</form>
		</div>
	</div>
</section>

{{#if recipes.length}}
<section>
	<div class="">
		<h2>Your recipes</h2>
	</div>
	<ol>
		{{#each recipes as |recipe|}}
		<li>
			{{> recipe-card recipe}}
			<a href="/dashboard/edit/{{recipe.id}}" class="edit-link">Edit recipe</a>
		</li>
		{{/each}}
	</ol>
</section>
{{/if}}
<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack-0.6.3.js"></script>
<script src="/javascript/add-recipe.js"></script>