<article>
	<a href="/dashboard" class="back-btn"> &larr; Back to dashboard</a>

	<div class="recipes">

		<form class="edit-recipe-form">
			<h2> Edit Post </h2>
			<div>
				<div>
				Recipe Title:
				</div>
				<div>
				<input name="recipe-title" type="text" value="{{recipe.title}}" />
				</div>
			</div>
			<img src="{{recipe.recipe_url}}" alt="" />
			<div class=""> 
				<div>
				Recipe Text:
				</div>
				<div>
				<textarea name="recipe-text" type="text" value="{{recipe.recipe_text}}"> </textarea>
				</div>
			</div>
			<div class="recipe-buttons">
			<button type="submit" class="create-recipe-btn">Save post</button>
			<button type="button" class="delete-recipe-btn">Delete post</button>
			</div>
		</form>
	</div>
</article>


{{> comments post.comments}}

<script src="/javascript/edit-recipe.js"></script>
<script src="/javascript/delete-recipe.js"></script>
